.photo-frame {
  display: block;
  box-sizing: content-box;
  position: relative;
  background: #fff;
  cursor: grab;
  border-radius: 4px;
  box-shadow: #0003 0 3px 3px -2px,#00000024 0 3px 4px,#0000001f 0 1px 8px;
  transition: box-shadow .3s cubic-bezier(.4,0,.2,1) 0ms
}

.photo-frame,.photo-frame img {
  outline: none;
  touch-action: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none
}

.photo-frame.overlay {
  cursor: grabbing
}

.photo-frame.active,.photo-frame.active img {
  opacity: .3
}

.photo-frame.insertBefore:before,.photo-frame.insertAfter:after {
  content: "";
  position: absolute;
  background-color: #2196f3;
  border-radius: 4px
}

.react-photo-album--row .photo-frame.insertBefore:before,.react-photo-album--row .photo-frame.insertAfter:after {
  top: 0;
  bottom: 0;
  width: 4px
}

.react-photo-album--row .photo-frame.insertBefore:before {
  left: -17px
}

.react-photo-album--row .photo-frame.insertAfter:after {
  right: -17px
}

.react-photo-album--column .photo-frame.insertBefore:before,.react-photo-album--column .photo-frame.insertAfter:after {
  left: 0;
  right: 0;
  height: 4px
}

.react-photo-album--column .photo-frame.insertBefore:before {
  top: -17px
}

.react-photo-album--column .photo-frame.insertAfter:after {
  bottom: -17px
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

header {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: center;
  margin: 16px 8px;
  text-align: center
}

header h1 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding: 8px
}

header a {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  padding: 8px;
  color: #0070f3;
  text-decoration: none
}

header a:hover {
  text-decoration: underline
}

main {
  padding: 5px;
  margin: 0 auto;
  max-width: 1200px
}

@media all and (min-width: 300px) {
  main {
      padding:10px
  }
}

@media all and (min-width: 600px) {
  main {
      padding:15px
  }
}

@media all and (min-width: 1200px) {
  main {
      padding:20px
  }
}
